<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Euroka3d</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <link rel="alternate" hreflang="en-US" href="https://www.example.com/en" />
    <link rel="alternate" hreflang="en-US" href="https://www.example.com/fr" />
    <link rel="alternate" hreflang="en-US" href="https://www.example.com/de" />
</head>
<body>
	{% include "header.html" %}
	<main>{{ main|safe }}</main>
	{% include "footer.html" %}
    <script>
        document.querySelector('.language-selector button').addEventListener('click', function() {
            var menu = document.querySelector('.language-menu');
            menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
        });
    </script>
    <!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/65ca7fef0ff6374032cc34dc/1hmfg7ggf';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
</html>
