<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Euroka3d</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <link rel="alternate" hreflang="en-US" href="https://www.example.com/en" />
    <link rel="alternate" hreflang="en-US" href="https://www.example.com/fr" />
    <link rel="alternate" hreflang="en-US" href="https://www.example.com/de" />
</head>
<body>
	{% include "header.html" %}
	<main>{{ main|safe }}</main>
	{% include "footer.html" %}
    <script>
        document.querySelector('.language-selector button').addEventListener('click', function() {
            var menu = document.querySelector('.language-menu');
            menu.style.display = menu.style.display === 'block' ? 'none' : 'block';
        });
    </script>
</body>
</html>
